<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> Ország</th>
        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
      </ng-container>

    <ng-container matColumnDef="vehicle">
      <th mat-header-cell *matHeaderCellDef> Utazási mód</th>
      <td mat-cell *matCellDef="let element"> {{element.vehicle.type}} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Leírás </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} 
        <button [routerLink]="['/registration/', element.id]">Érdekel</button>
    </td>
    </ng-container>
  
    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef> Max létszám </th>
      <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
    </ng-container>
  
    <ng-container matColumnDef="departure">
      <th mat-header-cell *matHeaderCellDef> Indulás </th>
      <td mat-cell *matCellDef="let element"> {{element.departure}} </td>
    </ng-container>

    <ng-container matColumnDef="pictureUrl">
        <th mat-header-cell *matHeaderCellDef> Fénykép </th>
        <td mat-cell *matCellDef="let element"> <img src="{{element.pictureUrl}}" width="100"/> </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
